{% extends "adminbase.html" %}
{% load app_filters %}
{% block title %}Approve Appointments{% endblock %}
{% block sidebar_approve_appointment %}active{% endblock %}
{% block body_header %}Approve Appointments{% endblock %}
{% block body_block %}
    
    <table class="table table-striped">
        <thead>
            <th><a href="./?sort=doctor">Doctor</a></th>
            <th><a href="./?sort=patient">Patient</a></th>
            <th><a href="./?sort=description">Description</a></th>
            <th><a href="./?sort=time">Time</a></th>
            <th><a href="./?sort=time">Date</a></th>
            <th><a href="./?sort=status">Status</a></th>
            <th>Options</th>
        </thead>
        {% for appointment in query %}
            <tr>
                <td>{{ appointment.doctor.account.profile }}</td>
                <td>{{ appointment.patient.account.profile }}</td>
                <td>{{ appointment.description }}</td>
                <td>{{ appointment.startTime }} until {{ appointment.endTime }}</td>
                <td>{{ appointment.date }}</td>
                <td>{% if appointment.active %}Active{% else %}Pending{% endif %}</td>
                <td><a class="btn btn-warning" href="{% url 'RHU:approve-appointment' appointment.id %}" role="button">Approve</a>
                <a class="btn btn-danger" href="{% url 'RHU:reject-appointment' appointment.id %}" role="button">Reject</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}