{% extends 'Thesis/base.html' %}
{% load static %}
{% block title %}Admin{% endblock %}
{% block body_block %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px; background-image: url(/static/images/hospital.jpg); height:100vh;">
    <div class='container'>
        <h1 class="display-4" style="text-align:center;">Hello, Admin!</h1>
        <p class="lead" style="text-align:center;">Welcome to San Rafael RHU eHealth App!</p>
        <hr class="my-4">
        <p style="text-align:center; font-size: 20px;">You can access various features after Login/SignUp.</p>
        <p class="lead" style="text-align:center">
            <a class="btn btn-primary btn-lg" href="/adminsignup" role="button">SignUp</a>
            <a class="btn btn-primary btn-lg" href="/adminlogin" role="button">Login</a>
        </p>
    </div>
</div>

{% endblock %}
