<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background:#337AB7;">
      <a href="/" class="navbar-brand">RHU San Rafael</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">

          <a href="/adminsignup" class="nav-item nav-link" style="font-size: 18px;">Admin</a>
          <a href="/doctorsignup" class="nav-item nav-link" style="font-size: 18px;">Doctor</a>
          <a href="/patientsignup" class="nav-item nav-link" style="font-size: 18px;">Patient</a>


        </div>

        <div class="navbar-nav">
          <a href="/aboutus" class="nav-item nav-link" style="font-size: 18px;">About Us</a>
          <a href="/contactus" class="nav-item nav-link" style="font-size: 18px;">Contact Us</a>
        </div>

      </div>
    </nav>
  </div>
</body>
</html>
