<!DOCTYPE html>
{% extends 'Thesis/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block body_block %}
  <body style="background-image: url(/static/images/hospital.jpg)">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-0">
					<img src="{% static 'images/RHU.png' %}" width="300" height="200" alt=""/>
				</div>
			</div>
			<div class="row justify-content-center">
				
					<div class="col-md-6 col-lg-4">
						<div class="login-wrap py-5">
		      	      	<div class="container-fluid">
					    	<ul id="clothingnav1" class="nav nav-tabs nav-fill" role="tablist">
					      	<li class="nav-item"> <a class="nav-link active" href="#home1" id="hometab1" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Register as Patient</a> </li>
					      	<li class="nav-item"> <a class="nav-link" href="#paneTwo1" role="tab" id="hatstab1" data-toggle="tab" aria-controls="hats">Register as Admin</a> </li>
				        	</ul>
					    	<!-- Content Panel -->
					    	<div id="clothingnavcontent1" class="tab-content">
					    		<div role="tabpanel" class="tab-pane fade show active" id="home1" aria-labelledby="hometab1" data-toggle="tab">
					       			<h3 class="text-center mb-0">&nbsp;</h3>
		      	      				<h3 class="text-center mb-0">Welcome</h3>
									<p class="text-center">Sign up by entering the information below</p>
									<form name="patient_form" id="patient_form" method="POST" action="" class="signup-form">
									{% csrf_token %}
										<div class="row">
											<div class="col-md-6">
		      									<div class="form-group">
		      										<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
														{{ form.first_name }}
												</div>	
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user-circle-o"></span></div>
														{{ form.last_name }}
												</div>
											</div>		
										</div>		
												<div class="form-group">
		      										<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
		      											{{ form.username }}
		      									</div>
												<div class="form-group">
													<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-envelope"></span></div>
														{{ form.email }}
												</div>
	            								<div class="form-group">
	            									<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
	              										{{ form.password1 }}
	            								</div>
												<div class="form-group">
	            									<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
	              										{{ form.password2}}
	            								</div>
	            								<div class="form-group">
	            									<button id="patient_submit" type="submit" class="btn form-control btn-primary rounded submit px-3" name="b1">Get Started</button>
	            								</div>
	          						</form>
				        		</div>

					    		<div role="tabpanel" class="tab-pane fade" id="paneTwo1" aria-labelledby="hatstab1">
					        		<h3 class="text-center mb-0">&nbsp;</h3>
		      	      				<h3 class="text-center mb-0">Welcome</h3>
									<p class="text-center">Sign up by entering the information below</p>
									<form name="admin_form" id="admin_form" method="POST" action="" class="signup-form">
									{% csrf_token %}
									<div class="row">
										<div class="col-md-6">
		      								<div class="form-group">
		      									<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
													{{ form2.first_name }}
											</div>	
		      							</div>
										<div class="col-md-6">
											<div class="form-group">
												<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user-circle-o"></span></div>
													{{ form2.last_name }}
											</div>
										</div>
									</div>	
											<div class="form-group">
												<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
													{{ form2.username }}
											</div>
											<div class="form-group">
		      									<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-envelope"></span></div>
													{{ form2.email }}
		      								</div>
	            							<div class="form-group">
	            								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
													{{ form2.password1 }}
	            							</div>
											<div class="form-group">
												<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
													{{ form2.password2 }}
												</div>
	            							<div class="form-group">
	            								<button id="admin_submit" type="submit" class="btn form-control btn-primary rounded submit px-3" name="b2">Get Started</button>
	            							</div>
	          						</form>
				          		</div>
				        	</div>
				    	</div>
	          				<div class="w-100 text-center mt-4 text">
	          				<p class="mb-0">Already have an account?</p>
		          			<a href="/">Sign In</a>
	          				</div>
						</div>
	        		</div>
				
			</div>
		</div>
		<script>

			var form_fields = document.getElementsByTagName('input')
			form_fields[1].placeholder = "First Name";
			form_fields[2].placeholder = "Last Name";
			form_fields[3].placeholder = "Username";
			form_fields[4].placeholder = "Email Address";
			form_fields[5].placeholder = "Password";
			form_fields[6].placeholder = "Confirm Password";
			form_fields[8].placeholder = "First Name";
			form_fields[9].placeholder = "Last Name";
			form_fields[10].placeholder = "Username";
			form_fields[11].placeholder = "Email Address";
			form_fields[12].placeholder = "Password";
			form_fields[13].placeholder = "Confirm Password";

			for (var field in form_fields) {
				form_fields[field].className += 'form-control'
			}

			var form = document.getElementById("patient_form")

			document.getElementById("patient_submit").addEventListener("click", function() {
				form.submit();

			});
			var form2 = document.getElementById("admin_form")

			document.getElementById("admin_submit").addEventListener("click", function() {
				form2.submit();
			});

		</script>
{% endblock %}}