<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">San Rafael RHU</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a {% if user.is_authenticated %}href="/admin_profile/">Signed in as {{ user.username }}{% else %}>Not signed in{% endif %}</a>
                </li>
                <li>
                    {% block nav_button %}<a href="/logout/">Logout</a>{% endblock %}
                </li>
            </ul>
        </div>
    </div>
</nav>